{% extends "block--block-content.html.twig" %}

{% block content %}
  {% set dummy_trigger_cache = content|render %}
  {% set wrapper_classes = ['imageblock', 'w-full'] %}

  {% if block_content.field_link.isEmpty %}
    {% set wrapper_attributes = create_attribute({'class': wrapper_classes}) %}
    <div {{ wrapper_attributes.addClass('imageblock-nolink') }}>
  {% else %}
    {% set wrapper_attributes = create_attribute(content.field_link.0["#url"].options.attributes ?? []) %}
    <a href="{{ block_content.field_link.0.url.toString }}" {{ wrapper_attributes.addClass(wrapper_classes).addClass('imageblock-linked') }}>
  {% endif %}

  {{ content.field_image }}

  {% if block_content.field_link.isEmpty %}
    </div>
  {% else %}
    </a>
  {% endif %}
{% endblock %}

