{% extends "block--block-content.html.twig" %}

{% set default_wrapper_classes = ['imageblock', 'w-full'] %}

{% if block_content.field_link.isEmpty %}
  {% set wrapper_attributes = create_attribute({'class': default_wrapper_classes}) %}
  {% set wrapper_attributes = wrapper_attributes.addClass('imageblock-linked') %}
{% else %}
  {% set wrapper_attributes = create_attribute(content.field_link.0["#url"].options.attributes ?? []) %}
  {% set wrapper_attributes = wrapper_attributes.addClass(default_wrapper_classes).addClass('imageblock-nolink') %}
{% endif %}

{% block content %}
  {% if block_content.field_link.isEmpty %}
    <div {{ wrapper_attributes }}>
  {% else %}
    <a href="{{ block_content.field_link.0.url.toString }}" {{ wrapper_attributes }}>
  {% endif %}

  {{ content.field_image }}

  {% if block_content.field_link.isEmpty %}
    </div>
  {% else %}
    </a>
  {% endif %}
{% endblock %}

