@tailwind components;

/**
  * Component rules should have a specifity of 0-1-0,
  * so utility classes can overrule them.
  */
@layer components {
  /**
   * ###################################################################################################################
   * ###################################################################################################################
   * AlpineJS
   * ###################################################################################################################
   * ###################################################################################################################
   */
  [x-cloak] {
    display: none !important;
  }


  /**
   * ###################################################################################################################
   * ###################################################################################################################
   * Images, SVG, Banner
   * ###################################################################################################################
   * ###################################################################################################################
   */
  :where(.paragraph--type--banner_image) > .field--name--field_media_image :where(img),
  .paragraph--type--banner_video :where(video) {
    width: 100%;

    :where(.node--banner--banner_lg) & {
      object-fit: cover;
      height: calc(var(--vh100, 100vh) - var(--fixed-footer, 0px) - var(--fixed-header, 0px) - var(--drupal-displace-offset-top, 0px));
    }
  }

  .inline-svg {
    @apply inline-block h-[1em] align-[-1.25em];
  }
  .inline-svg-fw {
    @apply inline-svg w-[1.5em];
  }

  :where(.paragraph--type--icon) {
    :where(.field--view-mode--original) {
      &.field--bundle--icon {
        img {
          width: auto;
          @apply mx-auto;
        }
      }
    }
  }

  /**
   * ###################################################################################################################
   * ###################################################################################################################
   * All regions inside a layout starting with name "grid" are assumed to be single component regions with
   * a fixed height and top & bottom aligned borders
   * ###################################################################################################################
   * ###################################################################################################################
   */
  :where([class*="component--grid"]) {
    &.paragraph--type--image img,
    &.paragraph--type--icon img,
    &.paragraph--type--icon svg,
    &.paragraph--type--linkblock .teaserable-images img {
      width: 100%;
      height: var(--grid-img-height);
      object-fit: cover;
    }
  }
  /**
   * In admin preview only show the default full view mode
   */
  .node-preview-form-select {
    @media (min-width: 641px) {
      &::after {
        color: yellow;
        content: 'Only preview, not yet saved';

        html[lang=de] & {
          content: 'Nur Vorschau, noch nicht gespeichert';
        }
      }
    }
    .form-item-view-mode {
      display: none;
    }
  }

  /**
   * ###################################################################################################################
   * ###################################################################################################################
   * System messages
   * ###################################################################################################################
   * ###################################################################################################################
   */
  .messages-container {
    @apply p-4 sm:px-8 sm:py-4 max-w-[90%] mx-auto;
  }
  .messages-container a {
    @apply underline decoration-currentcolor decoration-dotted hocus:decoration-solid;
  }
  .messages-container > * + * {
    @apply mt-4;
  }
  .messages-container [role=alert] {
    @apply bg-[#f39b9d] text-[#583333] rounded-md p-4;
  }
  .messages-container [role=contentinfo] {
    @apply bg-[#83c5f1] text-[#122b3c] rounded-md p-4;
  }
}
