/**
 * ###################################################################################################################
 * ###################################################################################################################
 * Cookie Banner
 * -------------------------------------------------------------------------------------------------------------------
 * All styles outside layer because the COOKiES module generated all HTML on clientside.
 * ###################################################################################################################
 * ###################################################################################################################
 */
 #cookiesjsr {
  .cookiesjsr-banner, .cookiesjsr-layer, .cookiesjsr-service-group {
    --color-background: rgb(var(--rgb-color-background));
    --color-foreground: rgb(var(--rgb-color-foreground));
    --color-onforeground: rgb(var(--rgb-color-onforeground));
    --color-flashy: rgb(var(--rgb-color-flashy));
    --color-onflashy: rgb(var(--rgb-color-onflashy));
    --color-flashyhocus: rgb(var(--rgb-color-flashyhocus));
  }
  .cookiesjsr-banner {
    width: 100%;
    @apply cs-neutral-900;
    --banner-bg-color: var(--color-background);
    --banner-font-color: var(--color-foreground);
    --btn-font-color: var(--color-foreground);
    --btn-bg-color: transparent;
    --btn-border-color: var(--color-foreground);
    --btn-prime-font-color: var(--color-onflashy);
    --btn-prime-bg-color: var(--color-flashy);
    --btn-prime-border-color: var(--color-flashy);
  }
  .cookiesjsr-banner--action {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.625rem;
  }
  .cookiesjsr-btn {
    width: auto;
    margin: 0;
    padding: 0 0.625rem;
    border-width: 2px;
    border-style: solid;
  }
  .cookiesjsr-btn.save, .cookiesjsr-btn.denyAll, .cookiesjsr-btn.save {
    color: var(--btn-font-color);
    background-color: var(--btn-bg-color);
    border-color: var(--btn-font-color);
  }
  .cookiesjsr-btn.allowAll {
    display: inline-block;
    color: var(--btn-prime-font-color);
    background-color: var(--btn-prime-bg-color);
    border-color: var(--btn-prime-border-color);
  }
  .cookiesjsr-layer {
    @apply cs-neutral-100;
    --layer-header-bg-color: var(--color-background);
    --layer-header-font-color: var(--color-foreground);
    --layer-body-bg-color: var(--color-background);
    --layer-footer-bg-color: var(--color-background);
    --layer-footer-font-color: var(--color-foreground);
    --btn-font-color: var(--color-foreground);
    --btn-bg-color: transparent;
    --btn-border-color: var(--color-foreground);
    --btn-prime-font-color: var(--color-onflashy);
    --btn-prime-bg-color: var(--color-flashy);
    --btn-prime-border-color: var(--color-flashy);
  }
  .cookiesjsr-layer--actions {
    gap: 0.625rem;

    .cookiesjsr-btn.save {
      order: -1;
    }
  }
  .cookiesjsr-service-group {
    @apply cs-white;
    --layer-tab-bg-color: var(--color-background);
    --layer-tab-font-color: var(--color-foreground);
  }
  .cookiesjsr-service-group.active {
    @apply cs-neutral-900;
    --layer-tab-active-bg-color: var(--color-background);
    --layer-tab-active-font-color: var(--color-foreground);
    --layer-font-light: var(--color-foreground);
  }
  .cookiesjsr-service--description h3 {
    all: unset;
  }
  @media (min-width: 1200px) {
    .cookiesjsr-banner--action {
      grid-template-columns: 1fr 1fr;
    }
    .cookiesjsr-btn.allowAll {
      grid-column: 1 / -1;
    }
  }
}
