/**
 * ###################################################################################################################
 * ###################################################################################################################
 * Project specific frontend-only styles (Wrapper for HTML requests).
 * -------------------------------------------------------------------------------------------------------------------
 * This file is used by the "tailwind_jit" module to include all styles required on the initial page load.
 * It might also contain additional styles outside of TailwindCSS @layers for client-side generated HTML.
 * ###################################################################################################################
 * ###################################################################################################################
 */

@import "./base.default.css";
@import "./components.default.css";
@import "./utilities.default.css";
@import "./global-html.css";
@import "./global-ajax.css";
@import "./cookies.css";
@import "./frontend.css";

@config "tailwind.config.js";

/**
 * Rules for client-side-rendered frontend HTML outside @layer directives should follow here.
 */


/**
  * ###################################################################################################################
  * Splide pagination bullets
  * ###################################################################################################################
  */
.splide__pagination {
  --bullet-width: 14px;
  --bullet-height: var(--bullet-width);
  --bullet-border: 2px;
  gap: 1rem;

  li {
    width: var(--bullet-width);
    height: var(--bullet-height);
    display: flex;
    justify-content: center;
    align-items: center;
    @apply bg-foreground;
  }

  button {
    width: calc(var(--bullet-width) - var(--bullet-border));
    height: calc(var(--bullet-height) - var(--bullet-border));
    @apply bg-foreground hocus:bg-onforeground;

    &[aria-selected="true"] {
      @apply bg-onforeground;
    }
  }


  &:not(.textslider-pagination) {
    position: absolute;
    bottom: 5%;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
  }
}
