{% extends 'field.html.twig' %}

{%
  set splidejs_config = splidejs_config ?? {
  'type': 'loop',
  'arrows': true,
  'pagination': false
}
%}

{% if items|length > 1 %}
  {% set attributes = attributes.addClass('splide') %}
  {% set attributes = attributes.setAttribute('data-splide', splidejs_config|json_encode(constant('JSON_UNESCAPED_SLASHES'))) %}
{% endif %}

{% block items %}
  {% if items|length > 1 %}
    {{ attach_library('designsystem/splide') }}
    {% block arrow_container %}
      {% if (splidejs_config.arrows ?? true) %}
        {# renders slider bullets with theme suggestions #}
        {{ {'#theme': 'splidejs_arrows'}
        |add_suggestion(element['#bundle'])
        |add_suggestion(element['#field_name'])
        |add_suggestion('teaserable--' ~ element['#teaser_fieldname'])
        |add_suggestion(element['#bundle'] ~ '--' ~ element['#field_name'])
        }}
      {% endif %}
    {% endblock arrow_container %}
    <div class="splide__track"><div class="splide__list">
    {% for item in items %}
      <div{{ item.attributes.addClass('splide__slide') }}>{{ item.content }}</div>
    {% endfor %}
    </div></div>
  {% else %}
    {{ parent() }}
  {% endif %}
{% endblock %}
