{% for item in items %}
  {% set image_uri = item.content['#media'].field_media_image|file_uri %}
  {% set url = image_uri ? image_uri|image_style('full_hd') : '' %}
  <a href="{{ url }}" target="modal" {{ item.attributes.addClass([
    'gallery-thumbnail',
    'sub-component',
    'component',
  ])|without('href', 'target') }}>
    {{ item.content }}
  </a>
{% endfor %}
