<div class=" max-sm:px-[8px] sm:px-[12px] lg:px-[32px] bg-wrapper bg-wrapper--cookies">
  <div class="max-w-screen-lg width-wrapper overflow-hidden mx-auto width-wrapper--cookies">
    <div class="ck-content children-adjacent:mt-8 my-12">
      <h1>{{ 'Cookie documentation'|t }} </h1>
      {% if (disclaimer['#disclaimerTextPosition'] == 'above' or disclaimer['#disclaimerTextPosition'] == 'both') and disclaimer['#disclaimerText'] %}
        {{ disclaimer }}
      {% endif %}

      {{ groups }}

      {% if (disclaimer['#disclaimerTextPosition'] == 'below' or disclaimer['#disclaimerTextPosition'] == 'both') and disclaimer['#disclaimerText'] %}
        {{ disclaimer }}
      {% endif %}
    </div>
</div>
