<div {{ attributes }}>
  <div class="field__label">{{ paragraph.type.entity.label() }}</div>
  <code class="display-block max-h-[10rem] overflow-x-hidden overflow-y-scroll whitespace-pre">{{ paragraph.field_code.0.value }}</code>
</div>
