{% extends 'field.html.twig' %}

{# individual sub items might be temporary suppressed by seasonal_paragraphs module #}
{% set image_count = 0 %}
{% for item in items|children %}
  {% if item.content|render|striptags('<img><svg><video>') %}
    {% set image_count = image_count + 1 %}
  {% endif %}
{% endfor %}

{% set multiple_images = (image_count >= 2) %}
{% set splidejs_config = {
  'type': 'loop',
  'arrows': (true and multiple_images),
  'pagination': (false and multiple_images),
  'drag': (true and multiple_images),
} %}
{% set attributes = attributes.addClass('splide') %}

{% block container %}
  {% set attributes = attributes.setAttribute('data-splide', splidejs_config|json_encode(constant('JSON_UNESCAPED_SLASHES'))) %}
  {{ parent() }}
{% endblock %}

{% block items %}
  {% block arrows %}
    {% if (splidejs_config.arrows ?? true) %}
      {# Add suggestions as needed. notice that these suggestions are not shown as HTML comments. #}
      {{ {'#theme': 'splidejs_arrows'}|add_suggestion(element['#bundle']) }}
    {% endif %}
  {% endblock arrows %}
  <div class="splide__track"><div class="splide__list">
  {% for item in items %}
    {% if item.content|render|striptags('<img><svg><video>') %}
      <div{{ item.attributes.addClass('splide__slide') }}>{{ item.content }}</div>
    {% endif %}
  {% endfor %}
  </div></div>
  {% block pagination %}
    {% if (splidejs_config.pagination ?? false) %}
      <ul class="splide__pagination"></ul>
    {% endif %}
  {% endblock %}
{% endblock %}
